{% extends 'base.html' %}
{% block content %}

<h1>Vinyl Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ vinyl.artist }}</span>
                <p>Album: {{ vinyl.album_name }}</p>
                <p>Genre: {{ vinyl.genre }}</p>
                <p>Release Year: {{ vinyl.release_year }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'vinyls_update' vinyl.id %}">Edit</a>
                <a href="{% url 'vinyls_delete' vinyl.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="" method="POST">
            {% csrf_token %}
            {{ touring_form.as_p }}
            <input type="submit" value="Add Upcoming Show" class="btn">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for touring in vinyl.touring_set.all %}
                    <tr>
                        <td>{{ touring.date }}</td>
                        <td>{{ touring.venue }}</td>
                        <td>{{ touring.city }}</td>
                        <td>{{ touring.state }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'mmm-dd-yyyy',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>
    
{% endblock %}